.projects {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

  .projects-wrapper > h2 {
    font-family: 'Times New Roman';
    font-size: 4em;
  }

  .projects-wrapper > a,
  .projects-wrapper > a:link,
  .projects-wrapper > a:visited
  .projects-wrapper > a:hover
  .projects-wrapper > a:active {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: white;
    text-decoration: none;
  }

  .projects-wrapper > h2 {
    display: flex;
    justify-content: center;
  }

    .project-card-wrapper > a {
      text-decoration: none;
    }

    .projects-content {
      margin-top: 5vh;
    }

@media screen and (min-width: 1366px) {
  .projects {
    margin-left: 5%;
    margin-right: 50%;
  }
}
