.projects {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

.projects-wrapper {}

  .projects-wrapper > h2 {
    font-size: 3em;
  }

  .projects-wrapper > a,
  .projects-wrapper > a:link,
  .projects-wrapper > a:visited
  .projects-wrapper > a:hover
  .projects-wrapper > a:active {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: white;
    text-decoration: none;
  }

    .projects-content {
      font-size: 1.5em;
    }

      .projects-list {
        padding: 0;
        list-style: none;
      }

      .projects-list > hr {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }

        .projects-list > a,
        .projects-list > a:link,
        .projects-list > a:visited
        .projects-list > a:hover
        .projects-list > a:active {
          width: 100%;
          color: white;
          text-decoration: none;
        }

      .project-card-wrapper > a {
        text-decoration: none;
      }

@media screen and (min-width: 1366px) {
  .projects {
    margin-left: 25%;
    margin-right: 25%;
  }

    .projects-content {
      margin-top: 0;
    }

      .project-item {
        padding: .5rem 1rem .5rem .5rem;
        border-radius: 2rem;
        font-size: 1.5em;
        opacity: .75;
        transition: .25s;
      }

      .project-item:hover {
        opacity: 1;
        transition: .25s;
      }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .projects {
    width: 80%;
  }
}
