.landing {

}

  .landing-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }

    .landing-header {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3em;
      white-space: nowrap;
    }

    .landing-headline {
      margin: 0 0 2rem 0;
      font-size: 2em;
      white-space: nowrap;
    }

    .landing-introduction {
      margin: 0 0 4rem 0;
      font-size: 1em;
    }
  
    .landing-contacts-list {
      width: 100%;
      margin: 0 0 2rem 0;
      padding-left: 0;
      display: flex;
      justify-content: space-evenly;
      font-size: 2em;
      list-style: none;
    }
  
      .landing-contacts-list-item {
        text-decoration: none;
      }
  
        .landing-contacts-item-link {
          color: white;
        }
          
@media screen and (min-width: 1366px) {
  .landing {
    width: 50%;
    margin-right: 0;
  }

    .landing-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0;
      margin-right: 0;
    }

    .landing-headers {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .landing-header {
        white-space: nowrap;

        font-size: 6em;
      }
      
      .landing-headline {
        white-space: nowrap;

        font-size: 3em;
      }

    .landing-introduction {
      font-size: 1.5em;
      margin-right: 25%;
    }

    .landing-contacts-list {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;
      padding-left: 0;
    }

      .landing-contacts-list-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
      }

        .landing-contacts-item-link {
          display: flex;
          font-size: 1.5em;
        }

        img {
          position: fixed;
          bottom: 0;
          right: 0;
          max-width: 200px;
          height: auto;
        }
}

@media screen and (min-width: 600px) and (max-width: 1365px) {
  .landing {
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .landing-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

      .landing-introduction {
        text-align: center;
      }

        .landing-header {
          font-size: 4em;
        }

        .landing-headline {
          font-size: 2.5em;
        }
    
        .landing-introduction {
          font-size: 1.25em;
        }

      .landing-contacts-list {
        margin: 1rem 0 1rem 0;
        display: flex;
        justify-content: space-evenly;
      }

  img {
    max-width: 375px;
    height: auto;
  }
}
