.landing {

}

  .landing-wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }

    .landing-header {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 3em;
    }

    .landing-headline {
      margin-top: 0;
      font-size: 2em;
    }

    .landing-introduction {
      font-size: 1em;
    }
  
    .landing-contacts-list {
      display: flex;
      flex-direction: row;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 0;
      padding-left: 0;
    }
  
      .landing-contacts-list-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        margin-right: 2rem;
      }
  
        .landing-contacts-item-link {
          color: white;
        }
          
@media screen and (min-width: 1366px) {
  .landing {
    width: 50%;
    margin-right: 0;
  }

    .landing-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0;
      margin-right: 0;
    }

    .landing-headers {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

      .landing-header {
        white-space: nowrap;
        margin: 0;
        font-size: 5em;
      }
      
      .landing-headline {
        margin: 0;
        font-size: 3em;
      }

    .landing-introduction {
      font-size: 1.25em;
      margin-right: 25%;
    }

    .landing-contacts-list {
      display: flex;
      flex-direction: row;
      margin-top: 2vh;
      margin-bottom: 2vh;
      margin-left: 0;
      padding-left: 0;
    }

      .landing-contacts-list-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        margin-right: 2rem;
      }

        .landing-contacts-item-link {
          display: flex;
          font-size: 1.5em;
        }

        img {
          position: fixed;
          bottom: 0;
          right: 0;
          max-width: 200px;
          height: auto;
        }
}

@media screen and (min-width: 600px) and (max-width: 1365px) {
  .landing {
    margin: 50% 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .landing-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  img {
    max-width: 375px;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
  }
}
