@media screen and (min-width: 1366px) {
  .left-column {
    position: fixed;
    float: left;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
  }

  .right-column {
    position: static;
    float: right;
    width: 50%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--red);
    color: white;
  }
}

@media screen and (min-width: 600px) and (max-width: 1365px) {
  .left-column {
    position: fixed;
    float: left;
    width: 50%;
    height: 95vh;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
  }

  .right-column {
    position: static;
    float: right;
    width: 50%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
  }
}
  