html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;;
=======
  font-family: -apple-system, BlinkMacSystemFont, 'Major Mono Display', monospace;
>>>>>>> 49665a5 (new changes to styling)
  font-size: 100%;
  font-weight: 750;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
<<<<<<< HEAD
  background-color: #3B1F2B;
  color: white;
=======
  background: linear-gradient(-45deg, #0E1C26, #2A454B, #294861);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  color: rgb(219, 219, 219);
>>>>>>> 49665a5 (new changes to styling)
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(104, 104, 104);
  outline: 1px solid rgb(104, 104, 104);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
