.about-section {
  margin-top: 7.5vh;
  margin-bottom: 25vh;
  padding-top: 12.5rem;
}

  .about-section > h1 {
    margin-left: 50%;
    margin-right: 25%;
    font-size: 4em;
  }

  .about-content {
    margin-left: 50%;
    margin-right: 25%;
  }

    .about-content > p {
      font-size: 2em;
    }
