.about-section {
  padding-top: 15rem;
}

  .about-section > h1 {
    margin-left: 50%;
    margin-right: 25%;
    font-size: 3em;
  }

    .about-content {
      margin-left: 50%;
      margin-right: 25%;
    }

      .about-content > p {
        font-size: 2em;
      }
