.contacts-section {
  height: 50vh;
  margin-top: 7.5vh;
}

  .contacts-section > h1 {
    margin-left: 50%;
    margin-right: 25%;
    font-size: 4em;
  }

  .contacts-content {
    margin-left: 50%;
    margin-right: 25%;
  }

    .contacts-list {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-left: 0;
      padding-right: 40%;
    }

      .contacts-list-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
      }
