.experience-section {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  padding-top: 15rem;
}

  .experience-section > h1 {
    margin-left: 50%;
    margin-right: 25%;
    font-size: 4em;
  }

    .experience-content {
      margin-left: 50%;
      margin-right: 25%;
    }

      .experience-list {
        padding-left: 0;
        list-style: none;
      }

        .experience-item {
          border-radius: 1rem;
          transition: background-color 0.375s ease;
        }

        .experience-item:hover {
          background-color: rgba(34, 34, 34, 0.651);
        }

          .experience-item-content {
            padding: 1rem;
          }
