.experience-section {
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

  .experience-header-text {
    display: flex;
    justify-content: center;
    font-size: 4em;
  }

  .experience-content {

  }

    .experience-detail {
      margin-left: 15%;
      margin-right: 15%;
    }

      .experience-list {
        padding-left: 0;
        list-style: none;
      }

        .experience-item {
          border-radius: 1rem;
          transition: background-color 0.5s ease;
        }

        .experience-item:hover {
          background-color: rgba(161, 161, 161, 0.651);
          transition: background-color 0.5s ease;
          cursor: pointer;
        }

          .experience-item-content {
            padding: 1rem;
          }

    .experience-timeline {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0;
    }

      .timeline {
        background-color: rgb(0, 152, 240);
        width: 10px;
        height: 100%;
        border-radius: 5px;
      }

@media screen and (max-width: 480px) {
  .experience-section {
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .experience-header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
  }

  .experience-item {
    width: 100%;
  }

}
