.landing-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

  .landing-content {
    margin-left: 25vw;
    margin-right: 25vw;
  }

  .landing-header-text {
    color: black;
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .landing-headline {
    color: black;
    font-size: 2em;
  }

  .landing-introduction {
    padding-top: 5vh;
    margin-right: 25vw;
    font-size: 1.5em;
  }

  .landing-contacts-list {
    display: flex;

    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 0;
  }

    .landing-contacts-list-item {
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      margin-right: 4rem;
    }

      .landing-contacts-item-link {
        display: flex;
        color: white;
        text-decoration: none;
      }

      .landing-contacts-list-item:link {
        text-decoration: none;
      }

      .landing-contacts-list-item:visited {
        text-decoration: none;
      }

      .github-icon {
        padding-right: 2px;
      }

      .navigate-down {
        display: flex;
        justify-content: center;
        outline: 1px red dashed;
      }

body {
  height: 100vh;
  background: linear-gradient(90deg,#e52e71,#ff8a00);
}

.slider-thumb::before {
  position: absolute;
  content: "";
  left: 22%;
  top: 21%;
  width: 500px;
  height: 500px;
  background: rgb(238, 216, 51);
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%, 100% {
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
  
  @media screen and (max-width: 480px) {

      .landing-content {
        margin-left: 10vw;
        margin-right: 10vw;
      }
    
        .landing-header-text {
          font-size: 4em;
        }

        .landing-contacts-list {
          display: flex;
          justify-content: center;
        }

        .landing-contacts-list-item {
          display: flex;
          flex-grow: 1;
          justify-content: center;
          margin-right: 0;
        }
  }