.navbar {
  z-index: 1;
  background-color: rgba(24, 24, 24, 0.5);
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
}

  .nav-list {
    display: flex;
    justify-content: center;
    display: flex;
    list-style: none;
  }

    .nav-item {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
      text-decoration: none;
    }

    .nav-link {
      font-size: 1.05em;
      color:rgb(219, 219, 219);
      text-decoration: none;
      opacity: 0.75;
      transition-duration: 500ms;
    }

    .nav-link:hover {
      opacity: 1.0;
      transition-duration: 500ms;
    }

    .nav-link:active {
      opacity: 1.0;
    }
