.card {
  position: relative;
  height: 24rem;
  width: 16rem;
  background-color: rgb(18, 29, 63);
  opacity: .75;
}

.card:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  
}
