.projects-section {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  padding-top: 12.5rem;
}

  .projects-section > h1 {
    margin-left: 50%;
    margin-right: 25%;
    font-size: 4em;
  }

  .projects-content {
    margin-left: 50%;
    margin-right: 25%;
  }

  .projects-section > a {
    margin-left: 50%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }
