.side-navbar {
  position: fixed;
  top: 33%;
  right: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side-nav-list {
  list-style: none;
  text-decoration: none;
  color:rgb(219, 219, 219);
}

.side-nav-item {

}

.side-nav-link {
  color:rgb(219, 219, 219);
  text-decoration: none;
  transition: 250ms;
  border-bottom: 2px solid transparent;
}

  .side-nav-link:hover {
    border-bottom: 2px solid white;
  }

  .side-nav-link:active {
    border-bottom: 2px solid white;
  }
