.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

  .tech-stack-list-item {
    margin-right: .5rem;
    padding-top: .5rem;
  }

    .tech-stack-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 166, 0, 0.815);
      border-color: blue;
      border-radius: 12px;
      font-size: 1em;
      padding-top: .25rem;
      padding-bottom: .25rem;
      padding-left: .50rem;
      padding-right: .50rem;
      font-weight: 900;
    }

    
