.tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  row-gap: .50rem;
  column-gap: .50rem;
}

  .tech-stack-list-item {
    
  }

    .tech-stack-item {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 166, 0, 0.815);
      border-color: blue;
      border-radius: 12px;
      font-size: 1em;
      padding: .50rem;
      font-weight: 900;
    }

    
