@media screen and (min-width: 600px) {
  .navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    .nav-list {
      height: 3rem;
      width: 36rem;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      padding-left: 0;
      border-radius: 10rem;
      background-color: white;
      backdrop-filter: blur(.5rem);
    }

      .nav-item {
        padding: .25rem .75rem .25rem .75rem;
        border-radius: 2rem;
        transition-duration: 250ms;
      }

      .nav-item:hover {
        background-color: rgb(216, 216, 216);
        transition-duration: 250ms;
      }
  
        .nav-link {
          text-decoration: none;
          font-size: 1.25em;
          color: black;
          transition-duration: 250ms;
        }
    
          .nav-link:hover {
            opacity: .75;
            transition-duration: 250ms;
          }
    
        .nav-icon {
          display: flex;
          font-size: 1.25em;
          color: black;
        }
}
