.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10rem;
    background-color: white;
    backdrop-filter: blur(.5rem);
  }

    .nav-item {
      display: flex;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }

      .nav-link {
        display: inline-block;
        position: relative;
        height: 1.25rem;
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        font-size: 1.05em;
        color:black;
        opacity: 0.75;
        transition-duration: 250ms;
      }

        .nav-link:hover {
          opacity: 1.0;
          transition-duration: 250ms;
        }

        .nav-link:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background:black;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        .nav-link:hover:after {
          width: 100%; 
          left: 0; 
        }
