@media screen and (min-width: 1366px) {
  .circle-container {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 45.1%;
    transform-origin: center;
    transition: .25s;
  }
  
  .circle-left {
    height: 180px;
    width: 90px;
    background-color: var(--red);
    border-radius: 100% 0 0 100%/50% 0 0 50%;
    border: 2px #ffbc42 solid;
  }
  
  .circle-right {
    height: 180px;
    width: 90px;
    background-color: var(--purple);
    border-radius: 0 100% 100% 0/0 50% 50% 0;
    border: 2px #ffbc42 solid;
  }
}
