.experience {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

  .experience-wrapper > h2 {
    font-size: 3em;
  }

    .experience-content {
      margin-top: 5vh;
      font-size: 3em;
    }

      .experience-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }

        .experience-item {
          margin-bottom: 5rem;
        }

          .experience-item > a {
            color: rgb(219, 219, 219);
            text-decoration: none;
          }

          .experience-item-content > p {
            font-size: .5em;
          }

@media screen and (min-width: 1366px) {
  .experience {
    margin-left: 5%;
    margin-right: 50%;
  }

    .experience-wrapper > hr {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .experience-content {
      margin-top: 0;
      font-size: 3em;
    }

  
    .experience-item {
      border-radius: 1rem;
      transition: background-color 0.375s ease;
    }

      .experience-item > a {
        color: rgb(219, 219, 219);
        transition: background-color 0.375s ease;
        cursor: pointer;
      }
}
