.experience {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10%;
}

  .experience-wrapper > h2 {
    font-size: 3em;
  }

    .experience-content {
      margin-top: 5vh;
      font-size: 3em;
    }

      .experience-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }

        .experience-item {
          margin-bottom: 5rem;
        }

        .experience-item > h4 {
          margin-top: 0;
          margin-bottom: 0;
          font-size: .75em;
        }
    
        .experience-item > h5 {
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: .5em;
        }
    
        .experience-item > h6 {
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: .45em;
        }
    
        .experience-item > p {
          font-size: .4em;
        }

          .experience-item > a {
            text-decoration: none;
          }

          .experience-item-content > p {
            font-size: .5em;
          }

@media screen and (min-width: 1366px) {
  .experience {
    margin-left: 25%;
    margin-right: 25%;
  }

    .experience-wrapper > hr {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .experience-content {
      margin-top: 0;
    }

      .experience-item:last-child {
        margin-bottom: 0;
      }

      .experience-item > h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: .75em;
      }

      .experience-item > h5 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: .675em;
      }

      .experience-item > h6 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: .50em;
      }

      .experience-item > p {
        font-size: .375em;
      }

        .experience-item > a {
          color: white;
        }
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
  .experience-item > h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .75em;
  }

  .experience-item > h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .675em;
  }

  .experience-item > h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .50em;
  }

  .experience-item > p {
    font-size: .375em;
  }
}
