.contacts-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

  .contacts-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 40px;
  }

    .contacts-list-item {
      display: flex;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      margin-left: 2rem;
      margin-right: 2rem;
    }

      .contacts-item-link {
        display: flex;
        color: white;
        text-decoration: none;
      }

      .contacts-list-item:link {
        text-decoration: none;
      }

      .contacts-list-item:visited {
        text-decoration: none;
      }

      .github-icon {
        padding-right: 2px;
      }



@media screen and (max-width: 480px) {

  .contacts-page {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
  }

    .contacts-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      margin-left: 25%;
      margin-right: 25%; 
    }

      .contacts-list-item {
        display: flex;
        text-decoration: none;
      }

        .contacts-item-link-github {
          margin-left: 25px;
        }
        
}