.footer-section {
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: center;
}
  .footer-header {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



@media screen and (max-width: 480px) {

}