video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: .50;
}

  .landing-page .landing-button {
    width: 75px;
    color: white;
    border-color: white;
  }



@media screen and (max-width: 480px) {

  .landing-page .page-header-text {
    margin-top: 50%;
  }
  
}