.navbar {
  background-color: black;
}
  .navbar-nav {
    background-color: black;
  }

    .navbar-navlinks {
      display: flex;
    }

      .navbar-contacts {
        display: flex;
        padding-left: 24px;
      }

      .navbar-contacts-icons {
        margin-right: 24px;
      }

      .navbar-navlink {
        display: flex;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 20px;
        color: white;
        transition: 250ms;
        text-decoration: none;
        cursor: pointer;
      }

      .navbar-navlink:hover, .navbar-navlink:active {
        color: rgb(163, 161, 161);
      }



@media screen and (max-width: 480px) {
  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-main-icon {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-navlink {
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 20px;
    color: white;
    transition: 250ms;
    text-decoration: none;
    cursor: pointer;
  }

  .navbar-contacts {
    padding-left: 6px;
  }

    .navbar-contacts-icons {
      margin-right: 6px;
    }
}
