.projects-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .projects-page .page-container .page-header-text {
    margin-top: 5%;
  }

  .projects-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

    .projects-container-items {
      justify-content: center;
    }

      .project-grid-container {
        justify-content: center;
      }

        .project-row-container {
          justify-content: center;
        }

          .project-item-container {
            cursor: pointer;
            opacity: .75;
            transition-duration: .125s;
          }

          .project-item-container:hover {
            opacity: 1;
            transition-duration: .125s;
          }

            .project-paper-container {

            }

              .project-card-container {
                display: flex;
                flex-direction: column;
                width: 16rem;
                height: 24rem;
              }

              .card-media {
                z-index: -1;
                width: 100%;
              }
              
                .project-card-actions {
                  margin-top: auto;
                }

                .project-card-link-button {
                  margin-bottom: 1rem;
                }



.test-card {
  opacity: 0;
}

.test-card:hover {
  opacity: 1;
}
            


@media screen and (max-width: 480px) {

  .projects-page {
    display: flex;
    flex-direction: column;
  }

    .projects-container-items {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

      .project-grid-container {
        display: flex;
        justify-content: center;
      }

        .project-row-container {
          display: flex;
          justify-content: center;
        }

          .project-card-container {
            display: flex;
            flex-direction: column;
            width: 256px;
            height: 384px;
          }
          
}