html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: "Trebuchet MS", 'Futura';
  font-weight: 750;
  overflow-x: hidden;
  background-color: rgb(12, 12, 12);
  color: rgb(219, 219, 219);
}

App {
  height: 100vh;
  width: 100vw;
}



/*-------------------------*/
/* Media query styling  */
/*-------------------------*/

@media screen and (max-width: 480px) {

}
