html {
  height: 100%;
}

body {
  font-family: "Trebuchet MS", 'Futura';
  overflow-x: hidden;
  color: white;
  background-color: #181818;
}

main {
  margin-top: 4rem;
  margin-bottom: 4rem;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header-text {
  margin-top: 12.5%;
  font-size: calc(32px + 2vmin);
}



/*-------------------------*/
/* Media query styling  */
/*-------------------------*/

@media screen and (max-width: 480px) {

  main {
    margin-top: 56px;
    margin-left: 10%;
    margin-right: 10%;
  }

  /*-------------------------*/
  /* Page header styling */
  /*-------------------------*/

  .page-header-text {
    margin-top: 12.5%;
    font-size: calc(32px + 2vmin);
  }

  .page-container {
    margin-bottom: 12.5%;
  }

}
